nav.navbar {
  background: #4527a0;
  color: #fff;
}
nav.navbar img {
  margin-right: 16px;
}
nav.navbar .navbar-brand {
  font-family: 'Sulphur Point', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

#large-screen-options button {
  background: #42bd9c;
  color: inherit;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

#small-screen-options button {
  background: #4527a0;
  color: inherit;
}
#small-screen-options div.dropdown-menu {
  position: absolute;
}
