#home-container {
  background: #4527a0;
  min-height: calc(100vh - 62px);
  padding-top: 10%;
  padding-bottom: 40px;
}
#home-container div.container,
#home-container div.row {
  height: 100%;
}

#home-container div.text-content {
  font-family: 'Roboto', sans-serif;
}

#home-container div.text-content h1 {
  color: #42bd9c;
}

#home-container div.text-content h4 {
  color: #fff;
}

#home-container div.text-content h4 span {
  color: #42bd9c;
}

#home-container div.text-content h4,
#home-container div.text-content button {
  margin-bottom: 50px;
}

#home-container button {
  align-items: center;
  display: flex;
  color: #fff;
  background: #42bd9c;
  font-weight: 700;
}

#home-container button .icon {
  font-size: 30px;
  margin-right: 12px;
}
